[submodule "mercury-agent"]
	path = mercury-agent
	url = https://github.com/cosmicstack-labs/mercury-agent.git
	branch = main
[submodule "imagor"]
	path = imagor
	url = https://github.com/cshum/imagor.git
	branch = master
[submodule "imagorface"]
	path = imagorface
	url = https://github.com/cshum/imagorface.git
	branch = main
[submodule "imagorvideo"]
	path = imagorvideo
	url = https://github.com/cshum/imagorvideo.git
	branch = master
[submodule "imagor-studio"]
	path = imagor-studio
	url = https://github.com/cshum/imagor-studio.git
	branch = main
[submodule "strix"]
	path = strix
	url = https://github.com/usestrix/strix.git
	branch = main
[submodule "paperclip"]
	path = paperclip
	url = https://github.com/paperclipai/paperclip.git
	branch = master
[submodule "data-formulator"]
	path = data-formulator
	url = https://github.com/microsoft/data-formulator.git
	branch = main
[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 20.0
[submodule "laya"]
	path = laya
	url = https://github.com/NandhaKishorM/laya.git
	branch = main
[submodule "mazanoke"]
	path = mazanoke
	url = https://github.com/civilblur/mazanoke.git
	branch = main
